* {
    background-color: bisque;
}

#Title {
    text-align: center;
    margin-bottom: 6.25rem;
    font-size: 2.15rem;
}

#Main {
    display: flex;
    margin-left: 1.75rem;
}

#IngredientsBox {
    display: flex;
    height: 40rem;
    margin-bottom: 3.15rem;
    border: 0.35rem solid black;
    padding: 0.35rem;
}

#ContentPic, #Ingredients{
    width: 28rem;
    height: 40rem;
}

#Ingredients {
    width: 22rem;
    margin-left: 1.25rem;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.75;
}

#Ingredients a {
    text-decoration: none;
}

#Instructions {
    text-align: left;
    font-size: 1.4rem;
    margin-left: 4.5rem;
    line-height: 1.30;
}

#Instructions li {
    padding-bottom: 1.30rem;
}