* {
    background-color: bisque;
}

#Title {
    text-align: center;
    margin-bottom: 100px;
    font-size: 38px;
}

#Main {
    display: flex;
    margin-left: 25px;
}

#IngredientsBox {
    display: flex;
    margin-bottom: 50px;
    border: 5px solid black;
    padding: 5px;
}

#ContentPic, #Ingredients{
    width: 420px;
    height: 600px;
    padding: 5px;
}

#Ingredients {
    width: 350px;
    margin-left: 25px;
    text-align: left;
    font-size: 22px;
    line-height: 1.75;
}

#Ingredients a {
    text-decoration: none;
}

#Instructions {
    text-align: left;
    font-size: 22px;
    margin-left: 75px;
    line-height: 1.35;
}

#Instructions li {
    padding-bottom: 20px;
}